.headleft {
	width: 10%;
}
.headcenter {
	width: 700px !important;
}
.headoption .head_p {
	padding: 0px 10px;
}
.MuiOutlinedInput-root {
	border-radius: 15px !important;
}
.headsearchbar{
	color:#6b7280;
}